snippet main "Main method" b
public static void main(String[] args) {
$1
}
endsnippet

snippet println "println method" b
System.out.println();
endsnippet

snippet s23009 "学籍番号" b
// s23009
// 問題点
endsnippet
